shops.xcscheme
shops/Pods/Pods.xcodeproj/xcuserdata/dennisburdin.xcuserdatad/xcschemes/Pods-shops.xcscheme
shops/Pods/Pods.xcodeproj/xcuserdata/dennisburdin.xcuserdatad/xcschemes/Result.xcscheme
shops/Pods/Pods.xcodeproj/xcuserdata/dennisburdin.xcuserdatad/xcschemes/SugarRecord.xcscheme
